# Default ignored files
/.idea/
/broker-engine/target/
/broker-engine/broker-engine.iml

/database/target/
/database/database.iml

/parent/target/
/parent/trading-bot-parent.iml


pattern-detection-engine/target/
pattern-detection-engine/pattern-detection-engine.iml

scheduler/target/
scheduler/scheduler-lib.iml

utils/target/
utils/utils.iml
