<main id="main" class="main">
  <div class="pagetitle">
    <h1>Detected Signals</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active">signals</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Detected Signals</h5>
            <p>List of all signals that has been detected sorted by date</p>
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Filter
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                     data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <form class="row g-3">
                      <div class="col-md-4">
                        <label for="idText" class="form-label">Detection ID</label>
                        <input id="idText" type="text" class="form-control"
                               [(ngModel)]="getSignalListRequest.detectionId" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div class="col-md-4">
                        <label for="inputState" class="form-label">Time Frame</label>
                        <select id="inputState" class="form-select" [(ngModel)]="getSignalListRequest.timeFrame"
                                [ngModelOptions]="{standalone: true}">
                          <option *ngFor="let timeframe of dropdownTimeframes.list"
                                  [value]="timeframe.id">{{timeframe.value}}</option>
                        </select>
                      </div>
                      <div class="col-md-4">
                        <label for="timeFrameInput" class="form-label">Bot Name</label>
                        <select id="timeFrameInput" class="form-select" [(ngModel)]="getSignalListRequest.botId"
                                [ngModelOptions]="{standalone: true}">
                          <option *ngFor="let bots of dropdownBots.list" [value]="bots.id">{{bots.value}}</option>
                        </select>
                      </div>
                      <div class="col-md-4">
                        <label for="outcomeResultInput" class="form-label">Outcome Result</label>
                        <select id="outcomeResultInput" class="form-select"
                                [(ngModel)]="getSignalListRequest.outcomeResult" [ngModelOptions]="{standalone: true}">
                          <option *ngFor="let outcome of dropdownOutcomes.list"
                                  [value]="outcome.id">{{outcome.value}}</option>
                        </select>
                      </div>
                      <div class="col-md-4">
                        <label for="inputFromDateTime" class="form-label">From Date</label>
                        <div id="inputFromDateTime"><input type="datetime-local" class="form-control"
                                                           [(ngModel)]="getSignalListRequest.fromDate"
                                                           [ngModelOptions]="{standalone: true}"></div>
                      </div>

                      <div class="col-md-4">
                        <label for="inputToDateTime" class="form-label">To Date</label>
                        <div id="inputToDateTime"><input type="datetime-local" class="form-control"
                                                         [(ngModel)]="getSignalListRequest.toDate"
                                                         [ngModelOptions]="{standalone: true}"></div>
                      </div>

                      <div class="text-end">
                        <div class="btn btn-secondary me-3" (click)="onFilterReset()">Reset</div>
                        <div class="btn btn-primary" (click)="onFilter()">Filter</div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <table class="table datatable">
              <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Bot</th>
                <th scope="col">Time Frame</th>
                <th scope="col">Outcome</th>
                <th scope="col">Profit</th>
                <th scope="col">Date</th>
              </tr>
              </thead>
              <tbody *ngIf="!isLoadingData">
              <tr *ngFor="let signalItem of signalListResponse?.list; let i = index">
                <th scope="row">{{signalItem.detectionId}}</th>
                <td>{{getValueById(dropdownBots.list, signalItem.botId)}}</td>
                <td>{{getValueById(dropdownTimeframes.list, signalItem.timeFrame)}}</td>
                <td><span
                  class="badge {{signalItem.outcomeResult == 'WIN' ? 'bg-success' : 'bg-danger'}}">{{getValueById(dropdownOutcomes.list, signalItem.outcomeResult)}}</span>
                </td>
                <td>{{signalItem.profit}}</td>
                <td>
                  <div class="row">
                    <div class="col">{{signalItem.date | customDateFormat }}</div>
                  </div>
                </td>
                <td style="width: 120px">
                  <div class="top-right-button-container">
                    <a (click)="onSignalClick(signalItem.detectionId)"
                       class="btn btn-primary shadow btn-xs me-2"><i
                      class="bi bi-eye"></i></a>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="text-center"
                 *ngIf="signalListResponse?.totalCount == undefined || signalListResponse?.totalCount! == 0"><p>No
              Signals have detected</p></div>
            <div class="text-center" *ngIf="isLoadingData">
              <div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span>
              </div>
            </div>
            <nav aria-label="Page navigation"
                 *ngIf="signalListResponse?.totalCount != undefined && signalListResponse?.totalCount! > itemsPerPage">
              <ul class="pagination justify-content-center">
                <li class="page-item" [ngClass]="this.selectedPageNumber == 0? 'disabled': ''"><a class="page-link"
                                                                                                  (click)="onPrevious()">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" (click)="onNext()">Next</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
